Dockerfile

**/*.a
**/*.o
**/*.Po
**/*.Plo
**/*.o.tmp
**/*.obj
**/*.la
**/*.lax
**/*.lo
**/*.log
**/*.lib
**/*.user
**/*.xdr
**/*.gz
**/*.cache
**/*.tlog
**/*.lastbuildstate
**/*.idb
**/*.pdb
**/*.exe
**/*.ilk
**/*.opensdf
**/*.sdf
**/*.suo
**/*.trs
**/*.db
**/*.d

**/*~
**/*.swp
**/.vscode/*
.idea
.clangd

**/.libs
**/.deps
**/.dirstamp

src/archtmp-*
src/main/DigitalBitsCoreVersion.cpp
src/testdata
src/xdr/*.h
build
buckets
compile
config.h
libtool
scripts/*.graphml
scripts/*.json

# test output
**/*.res
**/*.trs
**/*.exp
digitalbits-core-test-*
test-partitions.*
fuzz-findings
min-testcases
my-history
performance-eval
buckets
lib/spdlog/build
lib/tracy/profiler/build
lib/xdrpp/tests/test-*
lib/asio/src/doc
lib/asio/src/examples
lib/libmedida/test/

# Windows specific
**/Build
**/generated
**/x64
**/*.opendb
**/*.vcxproj.user
**/.vs

